body{
    background: linear-gradient(to top, #d3dbdb, #dddbd1 85%, #009688 85%);
    font-family: 'Lato', sans-serif;
}

#app{
    height: 100vh;
    width: 100%;
}

.wrapper{
    background-color: #FFFFFF;
    height: 900px;
    width: 1530px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul{
    list-style-type: none;
}

li:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}

.my_profile{
    background-color: #eaeaea;
}

div.my_profile img,
.my_active-chat img{
    height: 54px;
    border-radius: 50%;
}

div.my_profile-actions,
.my_active-chat-profile-actions{
    font-size: 1.5rem;
}

div.my_profile-actions i,
.my_active-chat-profile-actions i{
    margin-left: 1rem;
    color: #b1b1b1;
}

div.my_alerts{
    background-color: #8edafc;
}

.my_notification-action p{
    font-weight: 700;
}

.my_notification-action a{
    font-weight: 300;
    font-size: .9rem;
}

.my_icon-bg{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #8edafc;
    font-size: 1.5rem;
}

.my_search{
    background-color: #fafafa;
}

.my_interlocutor-name{
    font-size: 1.2rem;
    font-weight: 700;
}

.my_interlocutor-last-message,
.my_interlocutor-last-access{
    font-size: .8rem;
    color: #b1b1b1;
}

.my_hour{
    font-size: .75rem;
    color: #b1b1b1;
}

.my_active-chat{
    height: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eaeaea;
}

.my_active-chat-header,
.my_active-chat-actions{
    height: 70px;
}

.my_active-chat-header{
    background-color: #eaeaea;
    border-left: 1px solid #d6d6d6;
}

.my_active-chat-actions{
    background-color: #f3eeea;
}

.my_active-chat-body{
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.my_sent-messages,
.my_received-messages{
    border-radius: 10px;
    padding: .75rem;
    width: 45%
}

.my_sent-messages{
    background-color: #d5f9ba;
    align-self: end;
}

.my_received-messages{
    background-color: #FFFFFF;
}

.my_text-message-imput{
    width: 80%;
}

.my_emojis,
.my_record,
.my_send{
    color: #6b7376;
    font-size: 1.5rem;
}

.selected{
    background-color: #e9ebeb;
}